<script lang="ts">
import type { PropType } from 'vue';
import { defineComponent } from 'vue';
import type { DbItem } from '@/types/db-item';
import type { DbPosition } from '@/types/db-position';

import {
  describeTrackConfigTimespan,
  formatTimestamp,
  timeSince,
  colorSince,
} from '@/utils/datetimeUtils';
import * as map_utils from '../../utils/map/positionUtils';
import storage from '../../utils/storageWrapper';

import { mapStores } from 'pinia';
import { useMapStore } from '../../stores/MapStore';
import { useShowStore } from '../../stores/ShowStore';

export default defineComponent({
  name: 'NavbarItem',

  props: {
    timeNow: {
      type: Date as PropType<Date>,
      required: true,
    },
    positions: {
      type: Array as PropType<DbPosition[]>,
      required: true,
    },
    baseItem: {
      type: Object as PropType<DbItem>,
      required: true,
    },
  },

  data() {
    return {
      itemTrackShowing: true,
      showByUserPreference: false,
    };
  },

  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useMapStore, useShowStore),
    itemName(): string {
      if (this.baseItem) {
        return this.baseItem.properties['name'] as string;
      } else {
        return 'loading item...';
      }
    },
    latestPosition(): DbPosition | null {
      // We assume that positions are already sorted by timestamp during the DB-fetch,
      //  and that position zero is the newest position:
      return this.positions.filter((pos) => !pos.soft_deleted)[0] ?? null;
    },

    /**
     * Get marker_color. May compute on-the-fly if needed.
     * TODO: make this function unnecessary by ensuring that base_item.map_settings.marker_color is always present
     */
    itemColor(): string {
      return this.baseItem?.map_settings?.marker_color ?? 'grey';
    },
    itemSpecificTimespanIndicator(): string {
      const get_historical_data_since =
        this.baseItem?.map_settings?.get_historical_data_since ?? -1;
      return get_historical_data_since > -1 ? '★ ' : '';
    },
    positionTimeText(): string {
      const historical_data_text = this.itemSpecificTimespanIndicator
        ? `\n${this.itemSpecificTimespanIndicator}: Showing ${this.baseItem?.map_settings?.get_historical_data_since} days of historical data for this ${this.baseItem?.template}.`
        : '';

      const outsideOfAgeRangeIndicator = this.withinTrackRange
        ? ''
        : `\n(): This ${this.baseItem?.template} has no position timestamps within the desired date range.`;

      if (this.latestPosition?.timestamp) {
        return (
          'Last seen at ' +
          formatTimestamp(this.latestPosition.timestamp) +
          historical_data_text +
          outsideOfAgeRangeIndicator
        );
      }

      return (
        'No positions' +
        (this.baseItem
          ? describeTrackConfigTimespan(
              map_utils.computeItemSpecificTracksConfig(
                this.baseItem,
                storage.get_map_tracks_config()
              )
            )
          : '') +
        historical_data_text +
        outsideOfAgeRangeIndicator
      );
    },
    withinTrackRange(): boolean {
      if (!this.latestPosition) {
        return true;
      }
      return map_utils.isWithinTrackRange(
        this.latestPosition.timestamp ?? '',
        map_utils.computeItemSpecificTracksConfig(
          this.baseItem,
          storage.get_map_tracks_config()
        )
      );
    },
    positionAgeText(): string {
      if (!this.latestPosition) {
        return 'no positions';
      }

      const ageText =
        timeSince(this.latestPosition.timestamp, this.timeNow) + ' ago';
      return this.withinTrackRange ? ageText : `(${ageText})`;
    },
    positionAgeType(): string {
      let color = colorSince(this.latestPosition?.timestamp, this.timeNow);

      // show age label in grey if the position age is outside the configured track range
      if (!this.withinTrackRange) {
        color = 'grey';
      }

      return (
        {
          green: 'success',
          yellow: 'warning',
          red: 'danger',
          blue: 'default',
          grey: 'info',
        }[color] ?? 'default'
      );
    },

    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useMapStore, useShowStore),
  },

  watch: {
    itemTrackShowing(newVal): void {
      // if (this.itemTrackShowing != this.showInitialTrack && !this.showByUserPreference)
      //   this.showByUserPreference = true;
      if (this.baseItem) {
        this.$map.setItemTrackShowing(this.baseItem._id, newVal);
      }
    },
  },

  methods: {
    clickItem(): void {
      if (this.baseItem) {
        this.showStore.setShowItem({
          id: this.baseItem._id,
          positions: undefined,
        });
      }
    },
    flyToItem(latestPosition: DbPosition | null): void {
      if (latestPosition) {
        this.$map.flyTo([latestPosition.lat, latestPosition.lon], 8);
      }
    },
  },
});
</script>

<template>
  <div
    class="flex justify-between border-b border-gray-300 p-2 pt-4 hover:bg-gray-100"
    @click.self="flyToItem(latestPosition)"
  >
    <div class="ml-1">
      <div class="text-lg text-gray-700" @click="flyToItem(latestPosition)">
        {{ itemName }}
      </div>
      <el-tag
        class="mt-2"
        size="small"
        :type="positionAgeType"
        :title="positionTimeText"
        @click="flyToItem(latestPosition)"
      >
        {{ itemSpecificTimespanIndicator }}{{ positionAgeText }}
        <el-tooltip placement="top">
          <template #content>
            <div>
              <div v-for="line of positionTimeText.split('\n')" :key="line">
                {{ line }} <br />
              </div>
            </div>
          </template>
          <el-icon>
            <InfoFilled />
          </el-icon>
        </el-tooltip>
      </el-tag>
    </div>
    <div class="flex flex-col mr-2 space-y-1">
      <el-button class="w-fit self-end" circle @click="clickItem()">
        <el-icon>
          <EditPen />
        </el-icon>
      </el-button>

      <el-switch
        v-if="baseItem.template != 'landmark'"
        v-model="itemTrackShowing"
        size="small"
        :active-color="itemColor"
        active-text="Track"
        style="--el-color-primary: #111"
        title="Show Track"
      />
    </div>
  </div>
</template>
