<script lang="ts">
import type { MapCoordinates } from '@/types/db-position';
import type { PropType } from 'vue';
import { defineComponent } from 'vue';
import { parseCoordinates } from 'coordinate-formats';
import type {
  ParsingData,
  ParsingResponse,
  ValidationError,
} from 'coordinate-formats/lib/types';
import { asDMS } from '@/utils/map/positionUtils';

export default defineComponent({
  name: 'PositionInput',
  model: {
    prop: 'position',
    event: 'update_coords',
  },

  props: {
    position: {
      required: true,
      type: Object as PropType<MapCoordinates>,
    },
    printFeedback: {
      default: false,
      type: Boolean,
    },
  },

  emits: ['update_coords', 'valid_coords'],

  data() {
    return {
      internal_position: JSON.parse(
        JSON.stringify(this.position)
      ) as MapCoordinates,
      coordinate_string:
        !!this.position.lat && !!this.position.lon
          ? asDMS(this.position)
          : ('' as string),
      parsing_response: null as ParsingResponse | null,
      parsing_errors: null as ValidationError[] | null,
      parsed_data: null as ParsingData | null,
    };
  },

  mounted(): void {
    this.$refs.inputfield.focus();
  },

  created(): void {},

  methods: {
    formatFeedback(): string {
      const feedback = `${this.parsed_data?.format} format recognised.`;
      if (this.printFeedback) {
        return `${feedback} (DMS: ${asDMS(this.internal_position)})`;
      } else {
        return feedback;
      }
    },
    changedCoordinates(coords: string): void {
      try {
        this.parsing_response = parseCoordinates(coords);
        this.parsing_errors = this.parsing_response.errors;
        this.parsed_data = this.parsing_response.data;
      } catch (error) {
        this.parsing_errors = [{ scope: '', key: '', message: `${error}` }];
        this.parsed_data = null;
      }
      if (this.parsed_data && this.internal_position) {
        this.internal_position.lat = this.parsed_data.latLon.latitude;
        this.internal_position.lon = this.parsed_data.latLon.longitude;
        this.emitChangeEvent();
      }
      this.$emit('valid_coords', (this.parsing_errors ?? []).length == 0);
    },
    emitChangeEvent(): void {
      this.$emit('update_coords', this.internal_position);
    },
  },
});
</script>

<template>
  <div>
    <input
      ref="inputfield"
      v-model="coordinate_string"
      name="tracking_coords"
      type="text"
      placeholder="Enter coordinates"
      class="coordinates-input mb-2"
      @input="changedCoordinates($event.target.value)"
    />
    <span v-if="parsed_data" class="mb-2">
      {{ formatFeedback() }}
    </span>
    <ul v-else-if="parsing_errors" class="error-text mb-2">
      {{
        parsing_errors.length
      }}
      Errors prevented coordinate parsing:
      <li v-for="parse_error of parsing_errors" :key="parse_error.key">
        * {{ parse_error.message }}
      </li>
    </ul>
  </div>
</template>

<style scoped>
.coordinates-input {
  font-size: 15px;
  height: 200%;
  padding: 0px;
}

.error-text {
  color: red;
  /* width: 200px; */
  overflow: scroll;
  /* padding-left: 20px; */
  list-style-type: square;
  list-style-position: outside;
}
</style>
