<script setup lang="ts">
import templates from '@/constants/templates';
import { useShowStore } from '@/stores/ShowStore';
import type { CalcTemplateField } from '@/types/calc-template-schema';
import {
  CalcImportTool,
  extractWorkbookFromEventTarget,
} from '@/utils/calcUtils';
import type { Column, RowClassNameGetter, UploadFile } from 'element-plus';
import { ElMessage } from 'element-plus';
import type { Ref } from 'vue';
import { ref } from 'vue';

const showStore = useShowStore();

let showInput: Ref<boolean> = ref(true);
let uploadRef = ref(null);
let selectedFile = ref<UploadFile>();
let selectedFileName = ref('');
let inputNumber = ref('');
let tableData: Ref<any[]> = ref([]);
let tableColumns: Ref<Column<any>[]> = ref([]);

let loading = ref(false);

let lastCaseRow = -1;
let totalCases: number = 0;
let incompleteCases: number = 0;
const importTool = new CalcImportTool();

const onFileSelected = (file: UploadFile) => {
  if (file && file.raw) {
    selectedFile.value = file;
    selectedFileName.value = file.name;
  }
};

async function handleFileChangeAsync() {
  lastCaseRow = parseFloat(inputNumber.value);

  if (selectedFile.value && !Number.isNaN(lastCaseRow)) {
    importTool.initialize(
      await extractWorkbookFromEventTarget(selectedFile.value)
    );

    if (!importTool.initialized) {
      ElMessage({
        message: importTool.initializationMessage,
        type: 'error',
      });
      return;
    }
    parseFile();
  } else {
    if (!selectedFile.value) {
      ElMessage.error({
        message: 'Please select a .xlxs file to parse data from',
        duration: 5000,
      });
    }
    if (Number.isNaN(lastCaseRow)) {
      ElMessage.error({
        duration: 5000,
        message:
          'Please enter the number of the last row containing a case to parse',
      });
    }
    return;
  }
}

async function parseFile() {
  loading.value = true;
  // Generate columns based on your processed data
  tableColumns.value = generateColumns();
  await importTool.parseFile(lastCaseRow);
  // Generate data for the table
  generateData();
  totalCases = importTool.parsedCases.length;
  incompleteCases = importTool.incompleteRows.filter(
    (value) => value === 'incomplete'
  ).length;
  showInput.value = false;
}

const rowClass = ({ rowIndex }: Parameters<RowClassNameGetter<any>>[0]) => {
  if (importTool.incompleteRows[rowIndex] === 'incomplete') {
    return 'bg-red/50 hover:bg-red/80';
  } else if (importTool.incompleteRows[rowIndex] === 'partial') {
    return 'bg-yellow-400/50 hover:bg-yellow-400/80';
  } else {
    return 'bg-green-400/50 hover:bg-green-400/80';
  }
};

function generateData(): void {
  importTool.parsedCases?.forEach((caseItem, index) => {
    let numberOfValidPositions = 0;
    if (importTool.parsedPositions.get(index) !== null) {
      numberOfValidPositions = importTool.parsedPositions
        .get(index)
        ?.filter((element) => element !== undefined).length as number;
    }

    const cell = {
      ...caseItem.properties,
      rowNumber: importTool.dataJson![index].__rowNum__ + 1,
      positionNumber: numberOfValidPositions,
    };
    tableData.value.push(cell);
  });
}

function generateColumns(props?: any): Column<any>[] {
  let columns: Column<any>[] = [];
  const rowNumberColumn: Column<any> = {
    key: 'rowNumber',
    dataKey: 'rowNumber',
    title: 'Row Number',
    width: 60,
    ...props,
  };
  columns.push(rowNumberColumn);

  const positionNumberColumn: Column<any> = {
    key: 'positionNumber',
    dataKey: 'positionNumber',
    title: 'Positions parsed',
    width: 60,
    ...props,
  };
  columns.push(positionNumberColumn);

  importTool.template?.CalcFields.forEach((field: CalcTemplateField) => {
    const column: Column<any> = {
      key: `${field.caseTemplateFieldEquivalentName}`,
      dataKey: `${field.caseTemplateFieldEquivalentName}`,
      title: templates.getTitleFromName(
        importTool.template!.typeOfItemToParse,
        field.caseTemplateFieldEquivalentName
      ),
      width: 140,
      ...props,
    };
    columns.push(column);
  });
  return columns;
}

function resetTool(): void {
  showInput.value = true;
  uploadRef = ref(null);
  selectedFile = ref<UploadFile>();
  selectedFileName = ref('');
  inputNumber = ref('');
  tableData = ref([]);
  tableColumns = ref([]);
  totalCases = 0;
  incompleteCases = 0;
  importTool.reset();
}

async function createCases(): Promise<void> {
  await importTool.createCasesAndPositions();
  importTool.reset();
  showStore.view = 'MAP';
}
</script>

<template>
  <div v-if="showInput">
    <div class="upload-box">
      <h2 class="text-center text-2xl my-2">Import Tool</h2>
      <div class="flex">
        <span class="my-auto mr-4"> Last row number: </span>
        <div class="my-auto">
          <el-input v-model="inputNumber" type="number" class="w-24" />
        </div>
      </div>
      <div class="flex justify-between mt-1">
        <el-upload
          ref="uploadRef"
          :auto-upload="false"
          :limit="1"
          accept=".xlsx"
          @change="onFileSelected"
        >
          <template #trigger>
            <el-button size="default" type="primary">Select File</el-button>
          </template>
        </el-upload>
        <el-button type="success" @click="handleFileChangeAsync"
          >Parse</el-button
        >
      </div>
    </div>
  </div>
  <div v-else>
    <el-auto-resizer>
      <template #default="{ height, width }">
        <el-table-v2
          :columns="tableColumns"
          :data="tableData"
          :width="width"
          :height="height"
          :row-class="rowClass"
          :footer-height="40"
        >
          <template #footer
            ><div
              class="flex items-center px-6 h-full"
              style="
                justify-content: space-between;
                background-color: var(--el-color-primary-light-7);
              "
            >
              Total cases found in file: {{ totalCases }} - Total valid cases:
              {{ totalCases - incompleteCases }}
              <div>
                <el-button type="danger" @click="resetTool"
                  >Reset import tool</el-button
                >
                <el-button type="success" @click="createCases"
                  >Save all cases</el-button
                >
              </div>
            </div>
          </template>
        </el-table-v2>
      </template>
    </el-auto-resizer>
  </div>
</template>

<style scoped>
.upload-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .upload-box {
    padding: 20px;
  }
}
</style>
