<script lang="ts">
import type { PropType } from 'vue';
import { reactive, defineComponent, h, watch } from 'vue';
import type { TemplateCategory } from './ListView.vue';
import type { ItemTemplateField } from '@/types/item-template-schema';
import { TableV2SortOrder } from 'element-plus';
import type { SortState, SortBy } from 'element-plus';
import { EditPen } from '@element-plus/icons-vue';

import type { DbItem } from '@/types/db-item';
import { cutTimestamp } from '@/utils/datetimeUtils';

import { useShowStore } from '../stores/ShowStore';

export default defineComponent({
  name: 'ListViewCategory',
  components: {},
  props: {
    category: {
      required: true,
      type: Object as PropType<TemplateCategory>,
    },
    latestPositionTimestampPerItem: {
      required: true,
      type: Object as PropType<Record<string, string>>,
    },
  },
  setup(props) {
    const columnNames = [
      'id',
      'name',
      'date_created',
      'last_modified',
      'last_seen',
      // all other field names added, name filtered to put on second position
      ...props.category.fields
        .filter((field) => field.name !== 'name')
        .map((field: ItemTemplateField) => field.name),
    ];
    const lengthlist: { [key: string]: number } = {};

    for (const key of columnNames) {
      // initialize column with by the title
      lengthlist[key] = Math.max(key.length * 5 + 80, 120);
    }

    function makedata(): { [key: string]: string }[] {
      // create table data and renew it when local db is changed
      return props.category.category_base_items.map((item: DbItem) => {
        const obj: { [key: string]: string } = {
          id: item._id,
          date_created: cutTimestamp(item.time_created),
          last_modified: cutTimestamp(item.time_modified),
          last_seen: cutTimestamp(
            props.latestPositionTimestampPerItem[item._id]
          ),
        };
        props.category.fields.forEach((field: ItemTemplateField) => {
          if (item.properties[field.name] == -1 && field.minimum_value === 0) {
            obj[field.name] = 'N/A';
          } else {
            obj[field.name] = item.properties[field.name] as string;
          }
        });

        for (const key in obj) {
          // calculate width of the table column
          lengthlist[key] = Math.max(
            ((obj[key] || '').length || 0) * 5 + 80,
            lengthlist[key] || 80
          );
        }
        return obj;
      });
    }

    const data: { [key: string]: string }[] = reactive([]);
    data.push(...makedata());

    watch(
      () => props.category.category_base_items,
      () => {
        // table content changed, renew data
        data.length = 0;
        data.push(...makedata());
      }
    );

    const columns: { [key: string]: any }[] = columnNames.map(
      (name: string) => {
        const title =
          name === 'id'
            ? 'ID'
            : name === 'date_created'
            ? 'Date Created'
            : name === 'last_seen'
            ? 'Last Modified'
            : name;
        return {
          key: `${name}`,
          dataKey: `${name}`,
          title: title,
          sortable: true,
          // set column with and limit to a maximum
          width: Math.min(lengthlist[name] || 100, 400),
        };
      }
    );
    columns.unshift({
      key: 'edit',
      title: '',
      cellRenderer: (cell: any) => {
        const EditPenComponent = EditPen;
        return h(
          'el-button',
          {
            onClick: () => {
              useShowStore().setShowItem({
                id: cell.rowData.id,
              });
            },
            style: { cursor: 'pointer' },
          },
          h(
            'el-icon',
            null,
            h(EditPenComponent, {
              style: {
                width: '1.7rem',
                height: '1.7rem',
                color: '#444',
                padding: '0.35rem',
                border: '1px #aaa solid',
                borderRadius: '2rem',
              },
            })
          )
        );
      },
      width: 30,
      align: 'center',
    });

    const sortState = reactive<SortState>(
      Object.fromEntries(
        // make all columns sortable
        columns.map((column) => [column.key, TableV2SortOrder.DESC])
      )
    );

    return {
      columns,
      data,
      computedHeight:
        data.length > 20 ? '600px' : data.length < 5 ? '200px' : '400px',
      sortState,
    };
  },
  methods: {
    formatHeader(header: any): any {
      // capitalize "engine_working" -> "Engine Working"
      header.columns.forEach((item: any) => {
        item.title = item.title.replace(/_/g, ' ');
        item.title = item.title.replace(
          /(\b[a-z](?!\s))/g,
          function (x: string) {
            return x.toUpperCase();
          }
        );
      });
      return header;
    },
    onSort(sortBy: SortBy) {
      Object.keys(this.sortState).forEach((key: string) => {
        this.sortState[key] = TableV2SortOrder.DESC;
      });
      this.sortState[sortBy.key] = sortBy.order;
      this.data.sort(
        (a, b) =>
          (a[sortBy.key as string] || '')
            .toString()
            .localeCompare(b[sortBy.key as string]) *
          (-1 + 2 * +(sortBy.order === TableV2SortOrder.DESC))
        // times -1 or 1 for ASC or DESC
      );
    },
  },
});
</script>

<template>
  <div class="w-screen px-2" :style="{ height: computedHeight }">
    <el-auto-resizer>
      <template #default="{ height, width }">
        <el-table-v2
          :columns="columns"
          :data="data"
          :width="width"
          :height="height"
          :sort-state="sortState"
          :header-props="formatHeader"
          scrollbar-always-on
          fixed
          @column-sort="onSort"
        />
      </template>
    </el-auto-resizer>
  </div>
</template>
