<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'LoadingScreen',
});
</script>

<template>
  <div
    id="loadingscreen"
    class="bg-secondary absolute w-full h-full flex flex-col items-center z-1001"
  >
    <img src="@/assets/paper-boat.svg" alt="" class="invert h-4/5" />
    <p class="text-white text-xl">Loading...</p>
  </div>
</template>
