<script lang="ts">
import { defineComponent } from 'vue';
import { databasesApi } from '@/utils/databasesApi';

import { mapStores } from 'pinia';
import { useAuthStore } from '../stores/AuthStore';
import { useShowStore } from '../stores/ShowStore';

export default defineComponent({
  name: 'LoginScreen',

  setup() {
    const authStore = useAuthStore();
    const showStore = useShowStore();
    return { authStore, showStore };
  },

  data() {
    return {
      username: '',
      password: '',
    };
  },

  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useAuthStore, useShowStore),
  },

  async created(): Promise<void> {
    /** Tries to login automatically on page reload
     * if a successful login already happened in this tab session
     */
    try {
      if (this.authStore.isCookieSet === true) {
        const responseStatusCode = await databasesApi.checkExistingCookie();
        if (responseStatusCode === 200) {
          this.showStore.setLogin({ show: false, errorMessage: undefined });
          this.initializeDatabases();
        } else {
          this.authStore.setCookie(false);
          this.showStore.setLogin({
            show: true,
            errorMessage:
              'Automatic login on page refresh failed. Please enter your credentials',
          });
        }
      }
    } catch (error) {
      console.error(error);
      this.$message.error({
        duration: 5000,
        showClose: true,
        message: 'You seem to be offline.',
      });
    }

    if (this.showStore.loginScreen.errorMessage) {
      this.$message.error({
        duration: 15000,
        showClose: true,
        message: this.showStore.loginScreen.errorMessage,
      });
    }
  },

  methods: {
    async login(): Promise<void> {
      try {
        const responseStatusCode = await databasesApi.login({
          username: this.username,
          password: this.password,
        });
        if (responseStatusCode === 200) {
          this.authStore.setCookie(true);
          this.authStore.setUsername(this.username);
          this.showStore.setLogin({ show: false, errorMessage: undefined });
          this.initializeDatabases();
        } else {
          this.$message.error({
            duration: 5000,
            showClose: true,
            message: 'Login failed. Please try again.',
          });
        }
      } catch (error) {
        console.error(error);
        this.$message.error({
          duration: 5000,
          showClose: true,
          message: 'You seem to be offline.',
        });
      }
    },
    async initializeDatabases() {
      try {
        databasesApi.intializeDatabases(['items', 'positions', 'logs']);
      } catch (error) {
        console.error(error);
      }
    },
  },
});
</script>

<template>
  <div class="w-full h-full bg-secondary fixed z-2000">
    <div class="bg-white max-w-xl m-auto p-12 rounded-lg mt-12">
      <h1 class="text-center text-primary mb-8">OneFleet</h1>
      <div class="w-4/5 mx-auto">
        <el-form label-position="top" @submit.prevent="login">
          <el-form-item label="Username">
            <el-input v-model="username" autofocus />
          </el-form-item>

          <el-form-item label="Password">
            <el-input v-model="password" type="password" />
          </el-form-item>

          <div class="flex items-center w-full mt-8">
            <el-button
              type="primary"
              class="w-2/5 mx-auto h-10 text-xl"
              @click="login"
            >
              Login
            </el-button>
            <input type="submit" hidden />
          </div>
        </el-form>
      </div>
    </div>
  </div>
</template>
