<script lang="ts">
import { defineAsyncComponent, defineComponent } from 'vue';

import LeftNavigation from './LeftNavigation.vue';
import ListView from './ListView.vue';
import MapArea from './MapArea.vue';
import TopNavigation from './TopNavigation.vue';

const AsyncCalcImportTool = defineAsyncComponent(
  () => import('./CalcImport.vue')
);

import { useDataStore } from '../stores/DataStore';
import { useShowStore } from '../stores/ShowStore';

export default defineComponent({
  name: 'MainWindow',
  components: {
    TopNavigation,
    LeftNavigation,
    MapArea,
    ListView,
    AsyncCalcImportTool,
  },
  setup() {
    const dataStore = useDataStore();
    const showStore = useShowStore();
    return { dataStore, showStore };
  },
});
</script>

<template>
  <div class="flex flex-col h-screen">
    <TopNavigation />
    <LogSidebar v-if="showStore.showLogs" />

    <div class="flex h-full overflow-y-hidden">
      <LeftNavigation v-show="showStore.view == 'MAP'" />
      <MapArea v-show="showStore.view == 'MAP'" class="grow" />
      <ListView v-if="showStore.view == 'LIST'" />
      <AsyncCalcImportTool v-if="showStore.view == 'EXCEL'" class="w-full" />
    </div>
  </div>
</template>
