<script lang="ts">
import { defineComponent } from 'vue';

import DrawnAreaPopup from './map/DrawnAreaPopup.vue';
import DrawnMarkerPopup from './map/DrawnMarkerPopup.vue';
import DrawnTrackPopup from './map/DrawnTrackPopup.vue';
import ItemMarkerPopup from './map/ItemMarkerPopup.vue';
import ItemTrackPopup from './map/ItemTrackPopup.vue';
import PositionInput from './items/PositionInput.vue';

import type DatetimePicker from './DatetimePicker.vue';

import type { PopupData } from '@/types/popup';
import type { MapConfig } from '@/types/config';
import type { MapCoordinates } from '@/types/db-position';

import storage from '../utils/storageWrapper';

import { mapState, mapStores } from 'pinia';
import { useDataStore } from '@/stores/DataStore';
import { useMapStore } from '../stores/MapStore';

export default defineComponent({
  name: 'MapArea',
  components: {
    DrawnAreaPopup,
    DrawnMarkerPopup,
    DrawnTrackPopup,
    ItemMarkerPopup,
    ItemTrackPopup,
    PositionInput,
  },

  setup() {
    const mapStore = useMapStore();
    return { mapStore };
  },

  data() {
    return {
      map_initialized: false,
      popup_modal: '',
      // the popup_modal determines the visibility of the popup. If it's empty, no popup is shown.
      popup_data: {} as PopupData,
      new_marker_position: { lat: 0, lon: 0 } as MapCoordinates,
      new_marker_valid: true,
    };
  },
  computed: {
    ...mapState(useDataStore, ['allFilteredItems', 'positionsPerItem']),
    ...mapState(useMapStore, ['itemLayerVisibility']),
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useMapStore),
  },

  watch: {
    allFilteredItems: {
      immediate: true,
      deep: true,
      handler() {
        this.$map.setItemSections(this.allFilteredItems, this.positionsPerItem);
      },
    },
    positionsPerItem: {
      immediate: true,
      deep: true,
      handler() {
        this.$map.setItemSections(this.allFilteredItems, this.positionsPerItem);
      },
    },
    itemLayerVisibility() {
      this.$map.itemLayerVisibilityChangedByLeftNav(
        this.itemLayerVisibility.title!,
        this.itemLayerVisibility.isShowing
      );
    },
  },

  mounted(): void {
    const vuePopupContentsGetter = (
      popup_ref: string,
      popup_data: PopupData
    ): string | HTMLElement => {
      this.popup_data = popup_data;
      this.popup_modal = popup_ref;
      this.resetDatetime(popup_ref);
      return this.$refs[popup_ref] as HTMLElement;
    };

    const map_config: MapConfig = {
      tracks: storage.get_map_tracks_config(),
      layers: storage.get_map_layers_config(),
    };

    this.$map.init('mapArea', map_config, vuePopupContentsGetter);
  },

  methods: {
    resetDatetime(popup_ref: string): void {
      let popup;
      if (popup_ref === 'drawn_marker_popup') {
        popup = this.$refs.drawn_marker_popup_instance as InstanceType<
          typeof DrawnMarkerPopup
        >;
      } else if (popup_ref === 'drawn_area_popup') {
        popup = this.$refs.drawn_area_popup_instance as InstanceType<
          typeof DrawnAreaPopup
        >;
      }
      if (popup) {
        const picker = popup.$refs.datetime_picker as InstanceType<
          typeof DatetimePicker
        >;
        picker.resetDatetime();
      }
    },
    showingPopup(ref: string): boolean {
      return this.popup_modal === ref;
    },

    closePopup(): void {
      this.popup_modal = '';
      this.$map.map.closePopup();
    },

    addmarker(): void {
      this.closePopup();
      const lat = this.new_marker_position.lat;
      const lon = this.new_marker_position.lon;
      this.$map.addMarkerByCoordinates(lat, lon);
      this.new_marker_position.lon = 0;
      this.new_marker_position.lat = 0;
    },

    cancelMarker(): void {
      this.closePopup();
      // this.new_marker_position.lon = 0;
      // this.new_marker_position.lat = 0;
    },
  },
});
</script>

<template>
  <div class="relative">
    <div id="mapArea" class="h-full" />

    <div
      v-if="showingPopup('addmarker')"
      id="addmarker"
      ref="addmarker"
      class="form-style-6"
    >
      <el-form @submit.prevent="addmarker">
        <PositionInput
          name="position_input"
          print-feedback
          :position="new_marker_position"
          @update_coords="new_marker_position = $event"
          @valid_coords="new_marker_valid = $event"
        />
        <div class="save_cancel_buttons">
          <input
            type="submit"
            :disabled="!new_marker_valid"
            value="Add Marker"
            @click="addmarker()"
          />
          <input type="cancel" value="Cancel" @click="cancelMarker()" />
          <input type="submit" hidden />
        </div>
      </el-form>
    </div>

    <div ref="drawn_area_popup" class="drawn_area_style">
      <DrawnAreaPopup
        v-if="showingPopup('drawn_area_popup')"
        ref="drawn_area_popup_instance"
        :popup-data="popup_data"
      />
    </div>
    <div ref="drawn_marker_popup" class="w-[13rem]">
      <DrawnMarkerPopup
        v-if="showingPopup('drawn_marker_popup')"
        ref="drawn_marker_popup_instance"
        :popup-data="popup_data"
      />
    </div>
    <div ref="drawn_track_popup" class="drawn_track_style">
      <DrawnTrackPopup
        v-if="showingPopup('drawn_track_popup')"
        :popup-data="popup_data"
      />
    </div>
    <div ref="item_marker_popup" class="item_marker_style">
      <ItemMarkerPopup
        v-if="showingPopup('item_marker_popup')"
        :popup-data="popup_data"
      />
    </div>
    <div ref="item_track_popup" class="item_track_style">
      <ItemTrackPopup
        v-if="showingPopup('item_track_popup')"
        :popup-data="popup_data"
      />
    </div>
  </div>
</template>

<style>
.landmark-marker,
.case-marker,
.vehicle-marker {
  height: 16px !important;
  width: 16px !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
}

.drawn_area_style {
  width: 230px;
}

.drawn_track_style {
  width: 180px;
}

.item_marker_style {
  width: 200px;
}

.item_track_style {
  width: 200px;
}

.leaflet-tooltip.geojson-labels {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  margin-top: 20px;
  font-size: x-small;
}

.leaflet-tooltip.map-icon-labels {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  margin-top: 20px;
}

#addmarker {
  background-color: whitesmoke;
  position: absolute;
  border-bottom: 1px solid #ccc;
  top: 0.05rem;
  left: 3rem;
  z-index: 999;
  background: #fff;
  border-radius: 4px;
  font-size: smaller;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.leaflet-container .leaflet-control-mouseposition {
  font-size: 16px;
}

.leaflet-top.leaflet-right
  .leaflet-control-layers:nth-child(1)
  .leaflet-control-layers-toggle {
  background-image: url(../assets/mapLocationIcon.svg);
  background-size: 65%;
}

.leaflet-top.leaflet-right
  .leaflet-control-layers:nth-child(2)
  .leaflet-control-layers-toggle {
  background-image: url(../assets/weatherIcon.svg);
  background-size: 80%;
}

.layers_control_btn_class {
  position: relative;
  float: right;
  margin: 1px;
  z-index: 2;
}

.layers-control-btn-open {
  display: inline-block;
  background-image: url(../assets/closeIcon.svg);
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

.layers-control-btn-closed {
  display: none;
}

.leaflet-popup-content {
  width: auto !important;
}
</style>
