<script lang="ts">
import type { DrawnTrackPopupData } from '@/types/popup';
import type { PropType } from 'vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'DrawnTrackPopup',
  props: {
    popupData: {
      type: Object as PropType<DrawnTrackPopupData>,
      default: () => ({
        distance_in_meters: -1,
        positions: [],
      }),
    },
  },

  data() {
    return {};
  },
  computed: {
    distanceInKilometers(): number {
      const distanceInMeters = this.popupData.distance_in_meters;
      return distanceInMeters ? Math.round(distanceInMeters / 1000) : 0;
    },
    distanceInNauticalMiles(): number {
      const distanceInMeters = this.popupData.distance_in_meters;
      return distanceInMeters ? Math.round(distanceInMeters / 1.852 / 1000) : 0;
    },
  },

  watch: {},

  mounted: function () {},

  created: function () {},

  methods: {},
});
</script>

<template>
  <div>
    <span class="latlng">
      Track ({{ popupData.positions.length }} positions)
    </span>
    <br />

    <span class="latlng">
      Distance:
      {{ distanceInNauticalMiles }} nm ({{ distanceInKilometers }} km)
    </span>
    <br />
    <a href="#"> Add this track to .. </a>
  </div>
</template>
