<script lang="ts">
import type { PropType } from 'vue';
import { defineComponent } from 'vue';
import type { Templates } from '../../constants/templates';
import templates from '@/constants/templates';

import type { ElCascaderPanel, MessageOptions } from 'element-plus';
import {
  ElButton,
  ElDropdown,
  ElDropdownItem,
  ElDropdownMenu,
  ElIcon,
} from 'element-plus';
import DatetimePicker from '../DatetimePicker.vue';

import type { DrawnMarkerPopupData } from '@/types/popup';
import type { DbItem } from '@/types/db-item';
import type { NewPosition } from '@/types/db-position';
import { ArrowDown } from '@element-plus/icons-vue';

import { mapState, mapStores } from 'pinia';
import { useDataStore } from '@/stores/DataStore';
import { useShowStore } from '../../stores/ShowStore';
import { asDMS, asDD } from '@/utils/map/positionUtils';

export default defineComponent({
  name: 'DrawnMarkerPopup',
  components: {
    DatetimePicker,
  },
  props: {
    popupData: {
      type: Object as PropType<DrawnMarkerPopupData>,
    },
  },

  setup() {
    const showStore = useShowStore();
    return { showStore };
  },

  data() {
    return {
      /**
       * The date and time of sighting in UTC.
       */
      sightingDatetimeUtc: null as Date | null,
      cascaderProps: { expandTrigger: 'hover' },
    };
  },

  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapState(useDataStore, ['allFilteredItems']),
    ...mapStores(useShowStore),
    latestDMS(): string {
      const position = this.popupData?.position;
      return position ? asDMS(position) : '';
    },
    latestDD(): string {
      const position = this.popupData?.position;
      return position ? asDD(position) : '';
    },
    template_options(): typeof templates.keys {
      return templates.uiKeys;
    },
    item_options(): {
      value: string;
      label: string;
      children: { value: string; label: string }[];
    }[] {
      const name_function = this.itemName;
      return this.allFilteredItems.map((section) => ({
        value: section.title,
        label: section.title,
        children: section.base_items.map((base_item) => ({
          value: base_item._id,
          label: name_function(base_item),
        })),
      }));
    },
    enriched_positions(): NewPosition[] {
      const position = this.popupData?.position;
      if (!position) {
        return [];
      }
      if (!this.sightingDatetimeUtc) {
        throw new Error('No sighting time has been defined yet.');
      }
      const sighting_isostring = new Date(
        this.sightingDatetimeUtc
      ).toISOString();
      return [position].map((pos) => ({
        lat: pos.lat,
        lon: pos.lon,
        heading: -1,
        timestamp: sighting_isostring,
        source: 'onefleet',
      }));
    },
  },

  watch: {},

  mounted: function () {},

  created: function () {},

  methods: {
    itemName(base_item: DbItem): string {
      return base_item.properties.name as string;
    },

    /**
     * @param item_ids
     * item_ids[0]: Category
     * item_ids[1]: Item ID
     */
    addToItem(item_ids: string[]): void {
      if (this.sightingDatetimeUtc != null) {
        if (item_ids?.length > 0) {
          this.showStore.setShowItem({
            id: item_ids[1],
            positions: this.enriched_positions,
          });
        }
      } else {
        this.handleInvalidTime();
      }
      (this.$refs.existing_items_cascader as typeof ElCascaderPanel)[
        'clearCheckedNodes'
      ]();
    },

    createNewItem(template_type: keyof typeof Templates.templates): void {
      if (this.sightingDatetimeUtc != null) {
        this.showStore.setCreateItem({
          show: true,
          templateKey: template_type,
          positions: this.enriched_positions,
        });
      } else {
        this.handleInvalidTime();
      }
    },

    handleInvalidTime() {
      this.$message.error({
        duration: 5000,
        showClose: true,
        message: 'Please enter a valid time',
      } as MessageOptions);
      (
        this.$refs.datetime_picker as InstanceType<typeof DatetimePicker>
      ).setUiStateToError();
    },

    capitalizeFirstLetter(str: string): string {
      return str.charAt(0).toUpperCase() + str.slice(1);
    },

    updateSightingDatetimeUtc(event: Date | string | null | undefined) {
      if (event) {
        this.sightingDatetimeUtc = new Date(event);
      } else {
        this.sightingDatetimeUtc = null;
      }
    },

    deleteme() {
      this.popupData?.marker.remove();
    },
  },
});
</script>

<template>
  <div>
    <div class="whitespace-nowrap font-bold">
      DD: {{ latestDD }}<br />
      DMS: {{ latestDMS }}
    </div>

    <DatetimePicker
      ref="datetime_picker"
      placeholder="Enter time of sighting (UTC)"
      :mandatory="true"
      class="mt-2"
      @update_datetime="updateSightingDatetimeUtc($event)"
    />
    <div class="my-1 py-0">Save position into:</div>

    <div class="flex">
      <el-dropdown>
        <el-button type="primary" plain size="small">
          Existing...
          <el-icon>
            <ArrowDown />
          </el-icon>
        </el-button>
        <template #dropdown>
          <el-dropdown-menu>
            <el-cascader-panel
              ref="existing_items_cascader"
              :options="item_options"
              :props="cascaderProps"
              @change="addToItem"
            ></el-cascader-panel>
          </el-dropdown-menu>
        </template>
      </el-dropdown>

      <el-dropdown @command="createNewItem">
        <el-button type="primary" plain size="small" class="mx-2">
          New...
          <el-icon>
            <ArrowDown />
          </el-icon>
        </el-button>
        <template #dropdown>
          <el-dropdown-menu>
            <el-dropdown-item
              v-for="template_option in template_options"
              :key="template_option"
              :command="template_option"
            >
              {{ capitalizeFirstLetter(template_option) }}
            </el-dropdown-item>
          </el-dropdown-menu>
        </template>
      </el-dropdown>

      <el-button
        title="Delete this marker"
        plain
        size="small"
        type="danger"
        icon="Delete"
        @click="deleteme"
      >
      </el-button>
    </div>
  </div>
</template>

<style scoped>
.el-dropdown {
  /* margin-right: 8px; */
  font: 12px/1.5 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.el-dropdown-link {
  cursor: pointer;
  color: #0078a8;
  text-decoration: underline dashed;
}

.el-input--suffix .el-input__inner {
  padding-right: 10%;
}

.error input.el-input__inner {
  border-color: theme('colors.red');
}

.error input.el-input__inner::placeholder {
  color: theme('colors.red');
}
</style>
