<script lang="ts">
import type { PropType } from 'vue';
import { defineComponent } from 'vue';
import type { ItemPopupData } from '@/types/popup';

export default defineComponent({
  name: 'ItemAreaPopup',
  props: {
    popupData: {
      type: Object as PropType<ItemPopupData>,
      default: () => ({
        item_id: '',
        item_title: 'Unknown Item',
        latest_position: null,
      }),
    },
  },

  data() {
    return {};
  },
  computed: {},

  watch: {},

  mounted: function () {},

  created: function () {},

  methods: {},
});
</script>

<template>
  <div>
    {{ popupData.item_title }}
  </div>
</template>
