<script lang="ts">
import type { PropType } from 'vue';
import { defineComponent } from 'vue';
import type { ItemPopupData } from '@/types/popup';

import { formatTimestamp } from '@/utils/datetimeUtils';
import { asDMS } from '@/utils/map/positionUtils';

import { mapStores } from 'pinia';
import { useShowStore } from '../../stores/ShowStore';

export default defineComponent({
  name: 'ItemTrackPopup',
  props: {
    popupData: {
      type: Object as PropType<ItemPopupData>,
      default: () => ({
        distance_readable: '',
        distance_in_meters: -1,
        item_id: '',
        item_title: 'Unknown Item',
        latest_position: null,
      }),
    },
  },

  setup() {
    const showStore = useShowStore();
    return { showStore };
  },

  data() {
    return {};
  },

  computed: {
    ...mapStores(useShowStore),
    latestDMS(): string {
      const latestPosition = this.popupData.latest_position;
      return latestPosition ? asDMS(latestPosition) : '';
    },
    latestTimestamp(): string {
      let latestTimestamp = '';
      const latestPosition = this.popupData.latest_position;
      if (latestPosition) {
        const formattedTimestamp = formatTimestamp(latestPosition.timestamp);
        if (formattedTimestamp) latestTimestamp = formattedTimestamp;
      }
      return latestTimestamp;
    },
  },

  watch: {},

  mounted: function () {},

  created: function () {},

  methods: {
    showItem(): void {
      const itemId = this.popupData.item_id;
      if (itemId) {
        this.showStore.setShowItem({
          id: itemId,
        });
      }
    },
  },
});
</script>

<template>
  <div>
    <span class="font-bold nowrap">
      {{ popupData.item_title }}
    </span>
    <br />
    Last known position: <br />
    {{ latestDMS }} <br />
    at {{ latestTimestamp }} <br />
    <a href="#" @click="showItem()">Show Details...</a><br />
    <br />
    "{{ popupData.item_title }} was here at time xxxz."
  </div>
</template>
